############################################
# Backend - .NET / ASP.NET Core
############################################
bin/
obj/
.vs/

############################################
# Frontend - Angular
############################################
node_modules/
dist/
.angular/

############################################
# Logs
############################################
*.log
logs/

############################################
# Environment / Secrets
############################################
.env
appsettings.Development.json
appsettings.Production.json

############################################
# OS / Editor files
############################################
.DS_Store
Thumbs.db

############################################
# VS Code
############################################
.vscode/

############################################
# Build / Temp files
############################################
*.tmp
*.temp
